.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  box-shadow: -151px -1px 126px 0px rgba(0,0,0,0.0);
  -webkit-box-shadow: -151px -1px 126px 0px rgba(0,0,0,0.0);
  -moz-box-shadow: -151px -1px 126px 0px rgba(0,0,0,0.0);

}

.menu-mobile.open {
  left: 25%;
  box-shadow: -151px -1px 126px 0px rgba(0,0,0,0.50);
  -webkit-box-shadow: -151px -1px 126px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: -151px -1px 126px 0px rgba(0,0,0,0.50);
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home-icon {
  background-image: url("/images/home-icon.svg");
}
.about-icon {
  background-image: url("/images/about-icon.svg");
}
.contact-icon {
  background-image: url("/images/contact-icon.svg");
}

@media (min-width: 769px) and (max-width: 1024px) {
  .menu-mobile.open {
    left: 40%;
    box-shadow: -151px -1px 126px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: -151px -1px 126px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: -151px -1px 126px 0px rgba(0,0,0,0.50);
  }
}