
.intro {
    /* position: relative; */
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
.intro .image {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
max-height: 700px;
overflow: hidden;
}

.intro .image picture {
    width: 100%;
    height: auto;
  }
  
  .intro .image picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

@media (min-width: 1024px) {
    .intro .image{
        max-height: 1000px;
        position: relative; /* Ensure it's positioned correctly */
        z-index: 1; /* Lower z-index to ensure it stays behind the services section */
        padding: 200px 0px 0px 100px;
        width: 45%;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: end;

    }

    .intro .image picture {
        width: 400px;
        height: 540px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: top;
        /* border: solid red 1px; */
        border-radius: 500px;
    }

    .intro .image picture img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        /* border: solid blue 1px; */
    }

    .intro div {
        width: unset;
    }

    .intro {
        position: relative;
        z-index: 1;
    }
}