html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

.button-width {
    padding: 6px 30px;
    border-radius: 8px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: fit-content;
    padding: 6px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-scroll {
    overflow: hidden;

    /* background-color: #22a4d7; */
}

/* Sobrescribe los estilos para react-toastify */
.Toastify__toast--custom {
    background-color: #333; /* Color de fondo del toast */
    color: #fff; /* Color del texto */
  }
  
  .Toastify__progress-bar--custom {
    background-color: #f5a623; /* Color de la barra de progreso */
  }
  