.spanStyle {
    font-weight: bold;
    font-size: small;
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-top: 0.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.social p {
    visibility: hidden;
}

.social-fb{
    background-image: url('/images/fb-icon.svg');
    color: red;
    
}
.social-ig{
    background-image: url('/images/ig-icon.svg');
}
.social-wp{
    background-image: url('/images/wp-icon.svg');
}
